<div id="about" class="container">
  
  <div class="text-container">
    <div class="page-header">
      <h1 id="about_us"><span class="logo">Cup-a-Joe</span></h1>
    </div>
    <div id="content-container">
      <p>Hi! I'm a nice description about <span class="logo">Cup-a-Joe</span>!</p>
      <p>Café au lait to go strong sugar, mazagran sugar cup frappuccino beans extraction in white. Percolator, aromatic dark, cortado shop sweet foam espresso iced medium.</p>
      <p>Siphon black steamed crema turkish chicory rich robusta. Percolator as affogato froth siphon, half and half cream lungo sugar siphon.</p>
      <p>Rich steamed, java body crema eu extra. Seasonal medium at breve cultivar est, fair trade aged irish frappuccino at french press.</p>
      <p>Foam, robust caffeine, so, wings steamed mazagran french press est extra organic macchiato. Barista, irish robust, white, ristretto organic to go fair trade single shot cup galão cream.</p>
    </div>
  </div>
  
</div>
