<div class="container" id="current_users">
  <h1 id="current_users_title">At the Coffee Shop...</h1>
  <div class="user">
    <h3>Name</h3>
    <p>activity...</p>
  </div>
  <div class="user">
    <h3>Name</h3>
    <p>activity...</p>
  </div>
  <div class="user">
    <h3>Name</h3>
    <p>activity...</p>
  </div>
  <div class="user">
    <h3>Name</h3>
    <p>activity...</p>
  </div>
  <div class="user">
    <h3>Name</h3>
    <p>activity...</p>
  </div>
</div>

<script type="text/javascript">
$('body').css('background-image', "url(" + "<%= image_url('2.jpg') %>" + ")")
</script>