<div id="homeCarousel" class="carousel slide">
  <div class="carousel-inner">
    <div class="active item one"></div>
    <div class="item two"></div>
    <div class="item three"></div>
    <div class="item four"></div>
  </div>
  <div id="home" class="container">
    <div id="welcome" class="jumbotron">
      <!-- <h1 id="welcome_h1">Welcome to</h1> -->
      <h1 id="welcome_logo" class="logo">Cup-a-Joe Coffee House</h1>      
    </div>
  </div>
</div>

<%= render 'static_pages/about' %>

<% content_for :bottom do %>

<script type="text/javascript">
  $(document).ready(function() {
    $('.carousel').carousel({interval: 5000});
  });
    

  $(function() {
    $('a[href*=#]:not([href=#])').click(function() {
      if (location.pathname.replace(/^\//,'') == this.pathname.replace(/^\//,'') && location.hostname == this.hostname) {
        var target = $(this.hash);
        target = target.length ? target : $('[name=' + this.hash.slice(1) +']');
        
        if (target.length) {
          
          // scroll if there's a target
          $('html,body').animate({
            scrollTop: target.offset().top
          }, 300);
          
          // remove all current 'active' from links
          $('ul.nav a').parent().removeClass('active');
          
          // put the 'active' on the correct link
          $('ul.nav a').filter(function() {
            return this.href.indexOf(target.selector) !== -1;
          }).parent().addClass('active');
          
          return false;
          
        }
      }
    });
  });
        
</script>

<% end %>
