<div id="myCarousel" class="carousel slide">
  <div class="carousel-inner">
    <div class="active item one"></div>
    <div class="item two"></div>
    <div class="item three"></div>
    <div class="item four"></div>
  </div>
  <div id="home" class="container">
    <div id="welcome" class="jumbotron">
      <h1 id="welcome_h1">Welcome to Cup a Joe's</h1>      
    </div>
  </div>
</div>

<% content_for :bottom do %>

<script type="text/javascript">
  $(document).ready(function() {
      $('.carousel').carousel({interval: 5000});
    });
</script>

<% end %>
