/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap";

body {
  background-size: cover;
  -moz-background-size: cover;
}

.container {
  padding: 70px;
}

.navbar {
  border: none;
  opacity: 0.95;
  font-size: 120%;
}

.navbar-inverse .navbar-brand {
  color: #DCDCDC;
  font-weight: bold;
}

#welcome {
  width: 60vw;
  height: 40vh;
  min-height: 270px;
  margin: 50px auto;
  opacity: 0.9;
  background-color: #202020;
  text-align: center;
  border-radius: 100%;
}

#welcome_h1 {
  color: white;
//  opacity: 1;
}

.glyphicon {
  margin: 0 10px;
}


//home background carousel

.carousel {
  z-index: -99;
} /* keeps this behind all content */

.carousel .item {
  position: fixed; 
  opacity: 0;
  left:0 !important;
  width: 100%;
  height: 100%;
  -webkit-transition: opacity 0.5s;
  -moz-transition: opacity 0.5s;
  -ms-transition: opacity 0.5s;
  -o-transition: opacity 0.5s;
  transition: opacity 0.5s;
}

.carousel .one {
  background: url('1.jpg');
  background-size: cover;
  -moz-background-size: cover;
}
.carousel .two {
  background: url('4.jpg');
  background-size: cover;
  -moz-background-size: cover;
  }
.carousel .three {
  background: url('3.jpg');
  background-size: cover;
  -moz-background-size: cover;
}

.carousel .four {
  background: url('2.jpg');
  background-size: cover;
  -moz-background-size: cover;
}

.carousel .active {
  opacity: 1 !important;
}

.carousel .left {
  opacity: 1 !important;
  -webkit-transition: opacity 0.5s  !important;
  -moz-transition: opacity 0.5s  !important;
  -ms-transition: opacity 0.5s  !important;
  -o-transition: opacity 0.5s  !important;
  transition: opacity 0.5s  !important;
}


//about page 

.text-container {
  background-color: white;
  opacity: 0.9;
  padding: 2vw 4vw;
  margin: 50px auto;
  min-height: 500px;
}

#hi_user {
  display: inline-block;
  vertical-align: bottom;
}

#user_page_header {
  border: none;
}

.gravatar-icon {
  float: right;
  margin: 0px auto;
  text-align: right;
}

