<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
  <div class="container">
    <div id="logo">
      Cup a Joe
    </div>
    <div id="links">
      <div class="nav_link" id="login">
        Log In
      </div>
      <div class="nav_link" id="menu">
        Menu
      </div>
      <div class="nav_link" id="about">
        About Us
      </div>
    </div>
  </div>
</nav>